<!-- <app-loader></app-loader>
 -->

<div class="login-page">
  <div class="content">
    <form
      #loginForm="ngForm"
      class="login-form"
      fxFlex
      (ngSubmit)="login(loginForm)"
    >
      <div class="text-center">
        <h2 class="app-name">LearnU</h2>
      </div>
      <div fxFlex fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Username"
              ngModel
              name="username"
              required
              maxlength="30"
              #usernameCtrl="ngModel"
            />
            <mat-error *ngIf="usernameCtrl?.errors?.required"
              >Required field</mat-error
            >
            <mat-error *ngIf="usernameCtrl?.errors?.maxlength"
              >Exceeds the allowed number of characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input
              type="password"
              matInput
              placeholder="Password"
              ngModel
              name="password"
              required
              maxlength="30"
              #passwordCtrl="ngModel"
            />
            <mat-error *ngIf="passwordCtrl?.errors?.required"
              >Required field</mat-error
            >
            <mat-error *ngIf="passwordCtrl?.errors?.maxlength"
              >Exceeds the allowed number of characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <button
            mat-raised-button
            color="primary"
            class="w-100"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill class="text-center forgot-password">
          <a [routerLink]="['/forgot']">Forgot Password</a>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill class="text-center sign-up">
          ¿New to LearnU? <a [routerLink]="['/register']" >Sign up</a>
        </div>
      </div>
    </form>
  </div>
</div>
