<!-- <app-loader></app-loader> -->


<div class="forgot-page">
 
        <div class="content">
  
            <div class="text-center">
              <h2 class="app-name">Store U</h2>
            </div> 
      
            
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill>
                <a
                  mat-raised-button
                  color="primary"
                  class="w-100"
                  type="click" 
                  [routerLink]="['/login']"
                >
                  Regresar a Login
                </a>
              </div>
            </div>
       
     
      
            
        </div>
       
      </div>
      