<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isSideNavOpened">
    <app-left-panel></app-left-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" mat-raised-button color="primary" (click)="sidenav.toggle()">
            Menu
          </button>
        </div>
        <div class="col text-right">
          <app-head></app-head>
        </div>
      </div>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>